<style>


body { background: white ; }

div  { background: #C4DE03;

text-align: left; border-radius:10px  }

.contenedor-grande {width: 1330px; margin: 10px;}
.contenedor-chico {width: 443px; height: 200px; margin: 5px;  }



</style>